<div style="border-color: black;">

  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="這網站功能是製作短網址">
  <form action="/" method="POST">
    <input type="URL" name="URL" placeholder="Input URL here">
    <button type="submit">Shorten</button>
  </form>
</div>