<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2"> </div>
    <div class="col-md-auto">
      {{#if shortURL}}
      <div>
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
          alt="這網站功能是製作短網址" width="300" height="300">
        <div>
          <h3> Success! Please use this link :</h3>
        </div>
        <div>
          <h4> <a href="{{shortURL}}"> {{shortURL}}</a></h4>
        </div>
        <div class="mx-auto">
          <p class="mx-auto">
            <a href="/" class="btn btn-primary btn-lg active">
              製作其他短網址
            </a>
          </p>
        </div>
      </div>
      {{/if}}

      {{#if Nodata}}
      <h4>您輸入的短網址 有錯誤</h4>
      <a href="/" class="btn btn-primary btn-lg active">
        製作其他短網址
      </a>
      {{/if}}

    </div>
    <div class="col col-lg-2"> </div>
  </div>
</div>