<div style="border-color: black;">
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="這網站功能是製作短網址">
  <div>
    Success! Please use this link :
  </div>
  <div>
    放處理好的網址: {{shortURL}}
  </div>
  <div>
    <a href="/"> 製作其他短網址</a>
  </div>
</div>